a{
  margin: 6px;
  text-decoration:none;
  color: white;
}
.menu{
   background: linear-gradient(to left,green,blue);
   padding: 10px;
}
h1{
    color: blueviolet;
}
.ggv{
    background: linear-gradient(to left,green,blue);
    padding: 10px;
    color: red;
}