body{
    background: linear-gradient(to right,rgb(12,50,3),rgb(12, 3, 50));
}
h1{
    color: aqua;
}
p{
    font-size: 15px;
    color:darkcyan;
    margin-top: 5%;
    border-top: 2px solid cyan;
    padding-top: 5%;
}
audio{
    width: 850px;
    height: 100px;
}
.aaaaaaaaa{
    font-size: 180%;
}
